
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

header {
    padding: 8px 24px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    background: rgba(255, 255, 255, 1);
}