@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
   padding: 0;
   margin: 0;
   vertical-align: baseline;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

header {
    padding: 8px 24px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    background: rgba(255, 255, 255, 1);

}

main {
    width: 100%;
    height: max-content ;
 }